* {
  margin: 0;
}

.nav {
  width: 100%;
  background: skyblue;
  text-align: center;
  color: black;
  height: 70px;
}

.contributor {
  text-align: center;
  color: white;
  font-size: 2em;
  background-color: darkgray;
  font-family: KOMACON;
  height: 100px;
  background: linear-gradient(gray 30%, white);
}
