@media screen and (min-height: 900px) {
  .first {
    margin-bottom: 15em;
  }
}
/*
@media screen and (min-width: 400px) and (orientation: portrait) or not (device-widthL 411) and (device-heightL 731) {
  #box {
    display: none;
  }
  .text {
    display: none;
  }}
@media not all and (min-width: 401px) and (orientation: portrait) or (device-width: 411) and (device-height: 731) or{
  .opps {
    display: none;
  }
}
*/
.opps {
  font-size:1.1em;
}
html, body{
 text-align: center;
 margin: 0 auto;
 width: 100%;
 max-width: 100%;
 overflow-x: hidden;
}

#box{
 position: absolute;
 width: 20em;
 height: 22em;
 left: 50%;
 top: 50%;
 margin-left: -10em;
 margin-top: -11em;
 text-align : center;
}
#title{
  font-size: 50px;
  font-family: HangeulNuri-Bold;
}
.contacts{
  margin-top: 30px;
}
#welcome{
  padding:0;
}
.text{
  margin-top: 40em;
  background: skyblue;
  width:100%;
  text-align:center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:white;
  word-break:keep-all;
}
#content {
  font-size:0.8em;
}
#mobile {
  margin-top: 30px;
  font-family: HangeulNuri-Bold;
}
.unknown{
   margin-top: 40em;
  background: yellow;
  width: 100%;
  text-align: center;
  color: black;
}
