body
{
 text-align: center;
 margin: 0 auto;
}


#box
{
 position: absolute;
 width: 300px;
 height: 12em;
 left: 50%;
 top: 50%;
 margin-left: -150px;
 margin-top: -130px;
 text-align : center;
}
#title{
  font-size: 50px;
  font-family: HangeulNuri-Bold;
}
.contacts{
  margin-top: 30px;
}
#welcome{
  padding:0;
}
.text{
  margin-top: 40em;
  background: skyblue;
  width:100%;
  height:auto;
  text-align:left;
  padding: 10px;
  color:white;
}
#text #t
