@media screen and (min-height: 800px) {
  #mobile {
    display: none;
  }
}
@media screen and (min-width: 400px) and (orientation: portrait){
  #box {
    display: none;
  }
  .text {
    display: none;
  }}
@media not all and (min-height: 400px) and (orientation: portrait){
  .opps {
    display: none;
  }
}
html, body{
 text-align: center;
 margin: 0 auto;
 width: 100%;
 max-width: 100%;
 overflow-x: hidden;
}

#box{
 position: absolute;
 width: 20em;
 height: 22em;
 left: 50%;
 top: 50%;
 margin-left: -10em;
 margin-top: -11em;
 text-align : center;
}
#title{
  font-size: 50px;
  font-family: HangeulNuri-Bold;
}
.contacts{
  margin-top: 30px;
}
#welcome{
  padding:0;
}
.text{
  margin-top: 40em;
  background: skyblue;
  width:100%;
  text-align:left;
  padding: 10px;
  color:white;
  word-break:break-all;
}
#mobile {
  margin-top: 30px;
  font-family: HangeulNuri-Bold;
}
.unknown{
   margin-top: 40em;
  background: yellow;
  width: 100%;
  text-align: center;
  color: black;
}
